<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ракурс цели - Музыканты</title>
    <link rel="icon" type="image/png" href="../main-page/Ракурс%20цели%20-%20title.png" />
    <link rel="stylesheet" href="../main-page/main-page.css">
    <link rel="stylesheet" href="../history/history.css">
    <link rel="stylesheet" href="musicians.css">
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">МУЗЫКАНТЫ</div>
    </header>
    <div class="content">
            <div class="slide-description">
                <div class="slide-description-text selected-description">
                    <h1>САМСОН 'SAM' ЕМЕЛЬЯНОВ <br><br></h1>
                    <h3>Гитарист и композитор, бессменный <br> участник группы </h3>
                    <p>
                        <br>
                        Автор ее названия, а также большинства композиций. <br>
                        Родился 29 августа 1985г. <br>
                        В музыке с 2002г. Играл в различных музыкальных <br> коллективах г. Тольятти в качестве гитариста, <br>
                        бас гитариста. <br>
                        В 2014 году основал «Ракурс цели». <br><br><br>
                    </p>
                </div>
                <div class="slide-description-text">
                    <h1>N/A <br><br></h1>
                    <h3>Вокал </h3>
                    <p>
                        <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br><br><br>
                    </p>
                </div>
                <div class="slide-description-text">
                    <h1>N/A <br><br></h1>
                    <h3>Бас </h3>
                    <p>
                        <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br><br><br>
                    </p>
                </div>
                <div class="slide-description-text">
                    <h1>N/A <br><br></h1>
                    <h3>Ударные </h3>
                    <p>
                        <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br>
                        -------------------------------- <br><br><br>
                    </p>
                </div>
                <div class="offer__slider-counter">
                    <div class="offer__slider-prev"></div>
                    <div class="counter">
                        <span id="current">03</span>
                        <span id="total">04</span>
                    </div>
                    <div class="offer__slider-next"></div>
                </div>
            </div>
        <div class="offer__slider">
            <div class="offer__slider-wrapper">
                <div class="offer__slider-inner">
                    <div class="offer__slide">
                        <img src="20160101_015503.png" alt="guitar">
                    </div>
                    <div class="offer__slide">
                        <img src="post-86581550426139388057_full_thumb.png" alt="vocal">
                    </div>
                    <div class="offer__slide">
                        <img src="21-213224_unknown-person-icon-png-download.jpg" alt="bass">
                    </div>
                    <div class="offer__slide">
                        <img src="21-213224_unknown-person-icon-png-download.jpg" alt="drum">
                    </div>
                </div>
            </div>
        </div>
        <div class="slides-small-images">
            <div class="slides-small-image selected-img">
                <img src="20160101_015503__small.png" alt="guitar">
            </div>
            <div class="slides-small-image">
                <img src="post-86581550426139388057_full_thumb__small.png" alt="vocal">
            </div>
            <div class="slides-small-image">
                <img class="small-img" src="21-213224_unknown-person-icon-png-download__small.jpg" alt="bass">
            </div>
            <div class="slides-small-image">
                <img class="small-img" src="21-213224_unknown-person-icon-png-download__small.jpg" alt="drum">
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="footer-menu">
            <ul class="menu-left menu-left__footer">
                <li><a href="../history/history.html">История</a></li>
                <li><a href="../musicians/musicians.html">Музыканты</a></li>
                <li><a href="../audio/audio.html">Аудио</a></li>
                <li><a href="../video/video.html">Видео</a></li>
            </ul>
            <a class="logo__footer" href="../main-page/main-page.html"></a>
            <ul class="menu-right menu-right__footer">
                <li><a href="../concerts/concerts.html">Концерты</a></li>
                <li><a href="../events/events.html">События</a></li>
                <li><a href="">Магазин</a></li>
                <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
            </ul>
        </div>
        <ul class="footer-text">
            <li>Все права защищены ©2021</li>
            <li class="footer-tel">+7 (964)969-12-84(Viber)</li>
            <li>Связь с администрацией : samson.emelyanov@gmail.com</li>
        </ul>
    </div>
</footer>
<script src="musicians.js"></script>
</body>
</html>
