<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ракурс цели</title>
    <link rel="icon" type="image/png" href="Ракурс%20цели%20-%20title.png" />
    <link rel="stylesheet" href="main-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <div class="header__left">
            <a class="auth"  href="">
                <span class="auth-text">Авторизация</span>
            </a>
                <a class="registration" href="">Регистрация</a>
        </div>
        <div class="header__right">
            <span class="telephone">+7(964)969-12-84(Viber)</span>
            <a class="cart" href=""></a>
        </div>
    </header>
    <div class="logo"></div>
    <nav>
        <ul class="menu-left">
            <li><a href="../history/history.html">История</a></li>
            <li><a href="../musicians/musicians.html">Музыканты</a></li>
            <li><a href="../audio/audio.html">Аудио</a></li>
            <li><a href="../video/video.html">Видео</a></li>
        </ul>
        <ul class="menu-right">
            <li><a href="../concerts/concerts.html">Концерты</a></li>
            <li><a href="../events/events.html">События</a></li>
            <li><a href="">Магазин</a></li>
            <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="shot-hole shot-hole__1"></div>
        <div class="shot-hole shot-hole__2"></div>
        <div class="shot-hole shot-hole__3"></div>
        <div class="shot-hole shot-hole__4"></div>
        <div class="main-content"></div>
    </div>
</div>
<footer>
    <div class="footer-menu">
    <ul class="menu-left menu-left__footer">
        <li><a href="../history/history.html">История</a></li>
        <li><a href="../musicians/musicians.html">Музыканты</a></li>
        <li><a href="../audio/audio.html">Аудио</a></li>
        <li><a href="../video/video.html">Видео</a></li>
    </ul>
    <a class="logo__footer" href="main-page.html"></a>
    <ul class="menu-right menu-right__footer">
        <li><a href="../concerts/concerts.html">Концерты</a></li>
        <li><a href="../events/events.html">События</a></li>
        <li><a href="">Магазин</a></li>
        <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
    </ul>
    </div>
    <ul class="footer-text">
        <li>Все права защищены ©2021</li>
        <li class="footer-tel">+7 (964)969-12-84(Viber)</li>
        <li>Связь с администрацией : samson.emelyanov@gmail.com</li>
    </ul>
</footer>
</body>
</html>
