<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ракурс цели - Концерты</title>
    <link rel="icon" type="image/png" href="../main-page/Ракурс%20цели%20-%20title.png" />
    <link rel="stylesheet" href="../main-page/main-page.css">
    <link rel="stylesheet" href="../history/history.css">
    <link rel="stylesheet" href="concerts.css">
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">КОНЦЕРТЫ</div>
    </header>
    <div class="content">
        <div class="concert">
            <span class="concert-date">N/A</span>
            <span class="concert-city">ТОЛЬЯТТИ</span>
            <nobr class="concert-club">Клуб &nbsp “UNDEFINED”</nobr>
            <span class="concert-time">22:00</span>
            <a class="button" href="https://ticketscloud.com/" target="_blank">
                <span class="button-text">КУПИТЬ</span>
            </a>
        </div>
        <div class="concert">
            <span class="concert-date">N/A</span>
            <span class="concert-city">МОСКВА</span>
            <nobr class="concert-club">Клуб &nbsp “UNDEFINED”</nobr>
            <span class="concert-time">22:00</span>
            <a class="button" href="https://ticketscloud.com/" target="_blank">
                <span class="button-text">КУПИТЬ</span>
            </a>
        </div>
        <div class="concert">
            <span class="concert-date">N/A</span>
            <span class="concert-city">САНКТ-ПЕТЕРБУРГ</span>
            <nobr class="concert-club">Клуб &nbsp “UNDEFINED”</nobr>
            <span class="concert-time">22:00</span>
            <a class="button" href="https://ticketscloud.com/" target="_blank">
                <span class="button-text">КУПИТЬ</span>
            </a>
        </div>
        <div class="concert">
            <span class="concert-date">N/A</span>
            <span class="concert-city">КАЗАНЬ</span>
            <nobr class="concert-club">Клуб &nbsp “UNDEFINED”</nobr>
            <span class="concert-time">22:00</span>
            <a class="button" href="https://ticketscloud.com/" target="_blank">
                <span class="button-text">КУПИТЬ</span>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="footer-menu">
            <ul class="menu-left menu-left__footer">
                <li><a href="../history/history.html">История</a></li>
                <li><a href="../musicians/musicians.html">Музыканты</a></li>
                <li><a href="../audio/audio.html">Аудио</a></li>
                <li><a href="../video/video.html">Видео</a></li>
            </ul>
            <a class="logo__footer" href="../main-page/main-page.html"></a>
            <ul class="menu-right menu-right__footer">
                <li><a href="../concerts/concerts.html">Концерты</a></li>
                <li><a href="../events/events.html">События</a></li>
                <li><a href="">Магазин</a></li>
                <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
            </ul>
        </div>
        <ul class="footer-text">
            <li>Все права защищены ©2021</li>
            <li class="footer-tel">+7 (964)969-12-84(Viber)</li>
            <li>Связь с администрацией : samson.emelyanov@gmail.com</li>
        </ul>
    </div>
</footer>
</body>
</html>

