<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ракурс цели - Видео</title>
    <link rel="icon" type="image/png" href="../main-page/Ракурс%20цели%20-%20title.png" />
    <link rel="stylesheet" href="../main-page/main-page.css">
    <link rel="stylesheet" href="../history/history.css">
    <link rel="stylesheet" href="video.css">
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">ВИДЕО</div>
    </header>
    <div class="content">
        <iframe width="560" height="335" src="https://www.youtube.com/embed/0ul1xxMT_F4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/r_jtkQHzfec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/EDKRBbyQUNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/inyvaVsqCNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/E8gAXmQmTsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/lujCwsGQGag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/3sfgFCzyRhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/qjLp3dDvkfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/9ZG6nrCq1G0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="335" src="https://www.youtube.com/embed/MHcQQqg9bVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="footer-menu">
            <ul class="menu-left menu-left__footer">
                <li><a href="../history/history.html">История</a></li>
                <li><a href="../musicians/musicians.html">Музыканты</a></li>
                <li><a href="../audio/audio.html">Аудио</a></li>
                <li><a href="../video/video.html">Видео</a></li>
            </ul>
            <a class="logo__footer" href="../main-page/main-page.html"></a>
            <ul class="menu-right menu-right__footer">
                <li><a href="../concerts/concerts.html">Концерты</a></li>
                <li><a href="../events/events.html">События</a></li>
                <li><a href="">Магазин</a></li>
                <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
            </ul>
        </div>
        <ul class="footer-text">
            <li>Все права защищены ©2021</li>
            <li class="footer-tel">+7 (964)969-12-84(Viber)</li>
            <li>Связь с администрацией : samson.emelyanov@gmail.com</li>
        </ul>
    </div>
</footer>
</body>
</html>
