<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ракурс цели - История</title>
    <link rel="icon" type="image/png" href="../main-page/Ракурс%20цели%20-%20title.png" />
    <link rel="stylesheet" href="../main-page/main-page.css">
    <link rel="stylesheet" href="history.css">
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">ИСТОРИЯ</div>
    </header>
    <div class="content">
        <div class="text-content">
            <h1>2002-2003: НАЧАЛО</h1>
            <p>
                «Ну что, Сэм, будешь у нас басистом!» - хлопнув по плечу, одним осенним утром 2002-го года сообщил Иван Дерябин Самсону Емельянову перед началом уроков<br>
                в школе, которой ребята вместе учились. Таким образом продолжилась начавшаяся несколько загодя история коллектива ВИА шк. №10 г. Тольятти и начался музыкальный
                экспририенс для Самсона Емельянова, который в последствии трансформировался<br>
                в проект «Ракурс цели».<br><br>

                Иван (вокал/соло-гитара) уже играл в составе ВИА, тогда в его состав входили некоторые учащиеся старших классов, а так же бывшие участники группы  «Немезис»,
                гитаристом в которой был Виктор Золотов, произведший несгладимое впечатление<br>
                на Сэма своим умением играть и сочинять песни. На тот момент времени это был уже опытный гитарист с богатым бэкграундом.<br><br>

                Композиция «Крыша» (на данный момент не исполняется) стала наверное самым главным хитом школы, авторство на которую принадлежит именно ему.
                Виктор несколько раз посещал репетиции группы и иногда даже принимал в них непосредственное участие на инструменте. На ритм-гитаре уже играл Роман Поляков,
                за ударные сел Евгений Тушканов. Как и Самсон, последний не имел никакого опыта игры, но подал надежды на кастинге, который устроил тогдашний руководитель ВИА (о нем – ниже).<br><br>
            </p>
        </div>
        <div class="media-content">
            <iframe class="wind-of-change" width="508" height="380" src="https://www.youtube.com/embed/9ZG6nrCq1G0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <a class="button" href="full-history.html">
        <span class="button-text">Подробнее</span>
    </a>
</div>
<footer>
    <div class="footer">
    <div class="footer-menu">
        <ul class="menu-left menu-left__footer">
            <li><a href="../history/history.html">История</a></li>
            <li><a href="../musicians/musicians.html">Музыканты</a></li>
            <li><a href="../audio/audio.html">Аудио</a></li>
            <li><a href="../video/video.html">Видео</a></li>
        </ul>
        <a class="logo__footer" href="../main-page/main-page.html"></a>
        <ul class="menu-right menu-right__footer">
            <li><a href="../concerts/concerts.html">Концерты</a></li>
            <li><a href="../events/events.html">События</a></li>
            <li><a href="">Магазин</a></li>
            <li><a href="../fun-club/fun-club.html">Фан-клуб</a></li>
        </ul>
    </div>
    <ul class="footer-text">
        <li>Все права защищены ©2021</li>
        <li class="footer-tel">+7 (964)969-12-84(Viber)</li>
        <li>Связь с администрацией : samson.emelyanov@gmail.com</li>
    </ul>
    </div>
</footer>
</body>
</html>
